TestData/
.venv/
*egg-info
__pycache__

.aider*
*.parquet
*.gpkg

test-data/
stac/

# Terraform
.terraform/
.terraform.lock.hcl
!deployment/terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Git
.git_local_repo_credentials
